<% if book.errors.any? %>
	<ul>
		<% book.errors.full_messages.each do | error | %>
			<li><%= error %></li>
		<% end %>	
	</ul>
<% end %>

<%= form_for book do | f | %>

	<p>
		<%= f.label :title, "Título:" %>	
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :author, "Autor:" %>
		<%= f.text_field :author %>
	</p>

	<p>
		<%= f.label :publisher, "Editora:" %>
		<%= f.text_field :publisher %>
	</p>

	<p>
		<%= f.label :year, "Ano:" %>
		<%= f.text_field :year %>
	</p>
	
	<p>
		<%= f.submit "Salvar" %>
	</p>
<% end %>

<%= link_to "voltar para lista de livros", books_path%>